.rightBox {
  position: absolute;
  z-index: 99;
  top: 75px;
  left: 132px;
  display: flex;
  .rightBox_img {
    width: 57px;
    height: 66px;
    margin-right: 38px;
  }
  .titleBox {
    color: #fff;
    height: 66px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .rightBox_title1 {
    font-weight: bold;
    font-size: 28px;
  }
  .rightBox_title2 {
    font-weight: bold;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
  }
}
.login {
  .ant-pro-form-login-page-main {
    margin: 0;
    width: 410px;
  }
  .ant-pro-form-login-page-top {
    width: 410px;
  }
  .ant-pro-form-login-page-title {
    color: #fff;
    font-size: 45px;
  }
  .ant-pro-form-login-page-left {
    margin-right: 50px;
  }
  .ant-pro-form-login-page-container {
    border: 1px solid rgba(255, 255, 255, 0.45);
  }
  .ant-tabs-nav {
    margin-bottom: 38px !important;
  }
  .ant-tabs-nav::before {
    display: none;
  }
  .ant-form-item {
    margin-bottom: 40px;
  }
  .ant-tabs-ink-bar {
    display: none;
  }
  .ant-tabs-tab {
    color: #666 !important;
    font-size: 16px !important;
  }
  .ant-tabs-tab-active {
    color: #fff !important;
  }
  .ant-tabs-tab-btn {
    color: inherit !important;
  }
  .ant-input-affix-wrapper {
    height: 64px;
    width: 410px;
    padding-left: 28px;
    padding-right: 28px;
    background: #242424;
  }
  .ant-input {
    margin-left: 20px;
  }
  .ant-btn {
    height: 64px;
  }
  .ant-btn-primary {
    border: none;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
    height: 70px;
    background: linear-gradient(180deg, #0F6AFF 0%, #488DFF 0%, #1020C2 100%);
    border-radius: 10px;
  }
  .ant-btn-primary:hover {
    background: linear-gradient(180deg, #0F6AFF 0%, #488DFF 0%, #1020C2 100%) !important;
  }
  .ant-input-suffix {
    font-size: 18px !important;
  }
  .ant-input-clear-icon {
    font-size: 18px !important;
  }
}
