.aside {
  position: fixed;
  width: 114px;
  margin-top: 56px;
  height: calc(100vh - 56px);
  padding-top: 16px;
  box-sizing: border-box;
}
.menuBox {
  z-index: 99;
  width: 88px;
  height: 88px;
  background: #232325;
  border-radius: 10px;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}