.mini-table .ant-table-thead > tr > th,
.mini-table .ant-table-tbody > tr > td {
  padding: 4px 8px; /* 默认是 8px 16px，可缩小 */
  font-size: 12px;  /* 更小的文字 */
}

.ant-bubble-content-filled {
  background: #292A2E !important;
}
.ant-sender-content {
  background: rgb(34, 32, 32) !important;
  padding: 12px 28px 52px 28px !important;
}
.ant-layout-content {
  margin-left: 114px;
  width: calc(100% - 114px) !important;
  border-left: 1px solid rgba(253, 253, 253, 0.12) !important;
}


input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #a4d6ef !important;
  background-color: transparent;
  transition: background-color 50000s ease-in-out 0s;
}
input {
  background-color: transparent;
}

textarea {
  resize: none!important;
  overflow: auto; /* 保留滚动条功能 */
}

textarea::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

textarea::-webkit-scrollbar-track {
  background: #1f1f1f !important;
  border-radius: 3px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #595959 !important;
  border-radius: 3px;
  border: 1.5px solid #1f1f1f !important;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #8c8c8c !important;
}
textarea::-webkit-scrollbar-corner {
  border: 0!important;
  background-color: #282c34 !important; /* 关键：交汇处背景改暗色 */
}

hr {
  border: #000 0 solid;
}