.mini-table .ant-table-thead > tr > th,
.mini-table .ant-table-tbody > tr > td {
  padding: 4px 8px; /* 默认是 8px 16px，可缩小 */
  font-size: 12px;  /* 更小的文字 */
}

.ant-bubble-content-filled {
  background: #292A2E !important;
}
.ant-sender-content {
  background: rgb(34, 32, 32) !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: #a4d6ef !important;
  background-color: transparent;
  transition: background-color 50000s ease-in-out 0s;
}
input {
  background-color: transparent;
}
